<div class="row">
  <div class="col-8 pt-4">
    <h3>What happens next?</h3>
    <p>Wyre is contacting your bank to begin the purchase process.</p>
    <p>The purchase will take 2-3 days. We'll send you an email notification as soon as your purchase is complete.</p> 
    
    <h3>How do I check the status?</h3>
    <p>Visit this URL anytime to check your status: <a href="#">https://needcryptoformetamask.com/status/xk39ds92LA91</a></p>
  </div>
  <div class="col-4 pt-5">
    <img src="assets/images/illustrations/finish.png" style="max-width: 250px">
  </div>
</div>

