@import '../../../app.component';

.select-parent {
  height: 240px;
}

.selector {
  div {
    cursor: pointer;
    margin: 20px 40px 20px 40px;
    padding: 8px;

    img {
      max-width: 60px;
    }
  }
}

.preview-placeholder {
  height: 110px;
}

.preview {
  border-radius: 10px;
  height: 110px;

  .label {
    font-weight: 400;
    font-size: 0.6em;
  }
  
  h3 {
    cursor: pointer;
  }
}